body {
  margin: 3rem;
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url('https://images7.alphacoders.com/339/339627.jpg');
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
